# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PYProjects\Fourier Circle Drawing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
